:root {
  --primary-color: #d87342;
  --active-color: #b76036;
  --black: #151515;
  --gray: #7d7d7d;
  --light-gray: #eaeaea;
  --light-primary-color: #fff6f2;
  --green: #63a957;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-gray);
  font-family: "Circular";
}

p,
a {
  font-family: "Circular";
}

.headerCustom {
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0 120px;
}
.headerCustom > div {
  width: auto;
}

.illustrationSmartVariables {
  display: flex;
  justify-content: flex-end;
}

.illustrationSearch {
  display: flex;
  justify-content: flex-start;
}

.button {
  border: 1px solid var(--primary-color);
  padding: 14px 24px;
  cursor: pointer;
  text-decoration: none;
}

.primary {
  background: var(--primary-color);
  color: #fff !important;
  box-sizing: border-box;
  border-radius: 8px;
}

.secondary {
  background: none;
  color: var(--primary-color) !important;
}

.secondary:hover,
.secondary:active,
.secondary:focus {
  background: none;
  color: var(--active-color) !important;
  border: 1px solid var(--active-color);
}

.primary:hover,
.primary:active,
.primary:focus {
  background-color: var(--active-color);
  color: #fff;
  border: 1px solid var(--active-color);
}

.menuLinks {
  padding: 0;
}

.menuLinks > a {
  margin-right: 30px;
  text-decoration: none;
  color: #151515;
}

.menuLinks > a:last-child {
  margin-right: 0;
}

@font-face {
  font-family: Aeonik;
  src: url("./fonts/Aeonik-Black.otf");
}

@font-face {
  font-family: Circular;
  src: url("./fonts/CircularStd-Book.otf");
}

.heroText {
  font-family: Aeonik;
  font-size: 50px;
  line-height: 60px;
  /* identical to box height */
  text-align: center;
}

.hero {
  text-align: center;
  justify-content: space-between;
}

.hero > .col-md-1 > img {
  width: 100%;
}

@media (max-width: 990px) {
  .hero > .col-md-2 {
    display: none;
  }

  .hero > .col-md-5 {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

.buttonGroup {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
}

@media (max-width: 990px) {
  .buttonGroup {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .buttonGroup > button {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

@media (min-width: 990px) {
  .buttonGroup > button {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
  }
}

.sectionDark {
  background-color: var(--black);
}

.copyCard {
  background: #ffffff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 35px 25px;
  width: 30%;
}

@media (max-width: 990px) {
  .copyCard {
    padding: 35px 25px;
    width: 100%;
  }
}

.textSection {
  display: flex;
  flex-direction: row;
}

.divider {
  border: 1px solid var(--primary-color);
}

.badge {
  background-color: var(--light-primary-color);
  color: var(--primary-color);
  margin-right: 8px;
}

.badge:last-child {
  margin-right: 0;
}

.copyCardRow {
  position: relative;
  top: -60px;
}

.copyCard {
  margin-bottom: 0;
}

.copyCardRow {
  justify-content: space-between;
  margin-bottom: 80px;
}

.copyCardRow:last-child {
  justify-content: space-between;
  margin-top: 0px;
}

.spacerMedium {
  padding: 100px 0;
  background-color: transparent;
}
.spacerLarge {
  padding: 40px 0;
  background-color: transparent;
}

.spacerMedium.gray {
  background-color: var(--light-gray);
}

.spacerSmall {
  padding: 5px 0;
  background-color: transparent;
}

.textSection {
  padding-right: 15px;
}

h1 {
  font-family: Aeonik;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
}

.title_dark,
.sectionDark p,
.sectionDark a {
  color: white;
}

.sectionDark a:hover {
  color: var(--light-gray);
}

.text-center {
  text-align: center;
}

.footer {
  background-color: #000000;
  margin: auto;
  padding: 30px 0;
}

.copyIcon {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.copyIcon:hover {
  transform: scale(1.1);
}

#copyAlert {
  visibility: hidden; /* Hidden by default. Visible on click */
  background-color: var(--green);
  transform: translate(47.5vw, 0);
  transition: ease-in 1s;
  display: flex;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
  color: white;
  padding: 18px 24px;
  column-gap: 20px;
  text-align: center; /* Centered text */
  border-radius: 36px; /* Rounded borders */
  padding: 18px 24px;
  position: fixed;
  z-index: 1; /* Add a z-index if needed */
  width: fit-content;
}

#copyAlert.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein, fadeout;
  animation: fadein, fadeout;
  transition: ease-in-out 0.75s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 20px;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 20px;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 20px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 20px;
    opacity: 0;
  }
}

@keyframes oscillate {
  from {
    transform: scale(0.5.5);
  }
  to {
    transform: scale(1.1);
  }
}

.element {
  position: relative;
  animation: oscillate 5s infinite alternate ease-out;
}

@media (max-width: 990px) {
  .copyCard {
    margin-bottom: 80px;
  }
  .copyCard:last-child {
    margin-bottom: 0px;
  }
}

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
